html {
	position: relative;
	min-height: 100%;
}

.auth {
    background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),url("bg2.jpeg");
	margin-bottom: 60px; /* Margin bottom by footer height */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	color: black;
	background-color: #f5f5f5;
}

.fas{
    font-size: 4rem;
    color: #00308F;
}

.required:after {
content: "*";
color: red;
}

.sub{
    font-size: 1.3em;
    color: #00308F;
}

nav{
    background: #002050;
}

.nav-link{
    color:white;
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.nav-link:hover:before {
    color:white;
    visibility: visible;
    transform: scaleX(0.8);
}
.nav-link:hover {
    color:white;
}

.card{
    border-radius: 1.2em;
    font-weight: 700;
    box-shadow: 8px 8px 16px rgba(0,0,0,.25);
}

.headerCard{
	margin:auto;
	margin-top:10px;
    font-weight: 700;
    font-size: 1.7em;
}
.card-footer{
    font-weight: 500;
}
.card-body .btn{
    background-color: #008080;
    color: #fff;
    padding: .5em 1.5em;
    margin:4px 12px;
}

table{
    table-layout: fixed;
    max-width: 100%;
}
td{
    word-break : break-word;
    vertical-align: middle;
}
.toast-success{
    background-color: green;
    opacity: 0.9 !important;
}

.toast-error{
    background-color: #BD362F;
    opacity: 0.9 !important;
}

